h1 { 
    color: brown; 
}
h1 {
    text-align: center; 
}
h1 { 
    font: size 500px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-dog {
    width: 700px;
}
.img-dog {
    dispaly: block;
    margin: 0 auto;

}
h2 {
    text-align: center;
}
ul {
    text-align: center;
}