h1 { 
    color: brown; 
}
h1 {
    text-align: center; 
}
h1 { 
    font: size 400px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-dog {
    width: 200px;
}
.img-dog {
    align-items: center;
}