h1 { 
    color: brown; 
}
h1 {
    text-align: center; 
}
h1 { 
    font-size: x-large;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-dog {
    width: 700px;
}
.img-dog {
    display: block;
    margin: 0 auto 0 auto;

}
.img-dog { 
    border: orange;
}
h2 {
    text-align: center;
}
ul {
    text-align: center;
}
body {
    background-color: mediumturquoise;
}
.container {
   width: 350px; 
   overflow: hidden;
   background-color: orange;
   margin: 20px auto;
   padding 20px;
   text-align: center;

}
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    text-align: center;
}